<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<!--Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">about us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">
                      welcome to my site</p>
                </div>
            </div>
        </header>

        <div class="container">
          <div class="row">

            <center>
              <div class="col-8">
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit lacus nec tortor consequat ultricies. Maecenas vitae leo vitae sapien volutpat fringilla. Ut faucibus arcu urna, tristique viverra sapien aliquet eu. Vestibulum accumsan nulla et justo rhoncus ultrices. Fusce sed augue mi. In at dui commodo ex convallis aliquet. Sed rutrum facilisis finibus. Proin varius neque eget mauris convallis, in consectetur nisl laoreet. Proin congue eu nisl vel rhoncus.

Sed consectetur arcu semper nisi dignissim, ac interdum massa congue. Proin blandit tristique urna nec tincidunt. Donec iaculis metus urna, ac ullamcorper mauris pretium a. Maecenas congue blandit faucibus. Proin at euismod diam, sed finibus nisl. Fusce leo metus, iaculis non auctor vitae, ultrices ut nunc. Donec nec ex odio. Aenean vitae volutpat risus, quis laoreet lacus.

Aenean nisi arcu, malesuada a mauris id, tempus efficitur dui. In hac habitasse platea dictumst. Nam egestas nibh lectus,
                  in dapibus nunc tristique et. Aliquam dapibus turpis et eleifend ultrices. Class aptent taciti sociosqu
                  ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vulputate interdum varius.
                  Proin i d metus et ligula aliquam luctus. Cras aliquet felis ligula, bibendum rutrum nibh porta vitae.
                  Aliquam erat
                  volautpat. Praesent scelerisque ac urna ac fermentum. Phasellus placerat porttitor enim, quis facilisis libero
                  tristique non. Sed sodales, tortor vitae varius placerat, libero tellus iaculis nulla, pellentesque malesuada felis
                  dui at urna. Fusce ex ligula, vestibulum sed nisi a, hendrerit tincidunt ligula. Praesent id nulla pretium magna consequat
                  suscipit. Quisque viverra nunc augue, quis fringilla massa laoreet commodo. Quisque gravida cursus ante vel lacinia.

Duis at porta ante, nec interdum velit. Vestibulum turpis libero, venenatis sed elit in, eleifend tincidunt quam. Morbi hendrerit orci nec dignissim tincidunt. Aliquam erat volutpat. Praesent ac tincidunt purus. Proin feugiat vel velit eu placerat. Duis diam purus, fringilla in finibus ut, interdum sit amet leo. Cras quis magna urna.

Cras lobortis dignissim tellus eget faucibus. Praesent eu sem interdum, auctor risus ac, sagittis dolor. Sed vitae consectetur est, eget vulputate sem. Sed imperdiet ipsum eget sodales cursus. Proin lacus enim, maximus ac nunc iaculis, aliquam pharetra risus. Proin ullamcorper eleifend erat eu vulputate. Praesent ac mattis tellus, eget vehicula ante.
              </p>
              </div>
            </center>

          </div>
        </div>

{% endblock %}